html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100vh;
    background-color:rgba(100, 83, 10, 0.137);
}

.btn { 
    border: none;
    width: auto;
    /* height: 40px; */
    cursor: pointer;
    transition: all .5ms ease-in-out;
    border: 2px  2px solid #ffff;
    margin: 10px;
}

.btn:hover {
    width: auto;
    height: 10px;
}


/* .container li  div { 
    display: grid;
    grid-template-columns: auto;
    
} */